.request {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
  background: #eee;
  color: #666666;
}

#spinner {
  height: 300px
}
